@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900");
@import url("http://fonts.googleapis.com/css?family=Shrikhand");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

header .header-description__heading {
  font-size: 20px;
  font-weight: 900;
}
header .header-description__text {
  font-size: 16px;
  font-weight: 100;
}
header .header-use__heading {
  font-size: 20px;
  font-weight: 900;
}

main .restaurants__heading {
  font-size: 20px;
  font-weight: 900;
}

.menu__heading {
  font-weight: 900;
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

footer {
  font-family: "Roboto", serif;
  font-weight: 400;
}

.header-nav {
  display: flex;
  justify-content: center;
}
.header-location {
  display: flex;
  justify-content: center;
}
.header-description {
  text-align: center;
}
.header-description__heading {
  width: 200px;
  padding-top: 42px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}
.header-description__text {
  width: 285px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
}
.header-description button {
  margin-top: 40px;
  margin-bottom: 40px;
}

main {
  padding: 25px;
}

.header-nav {
  height: 62px;
}
.header-nav__logo {
  margin-top: 24px;
}
.header-location {
  height: 61px;
  background-color: #eaeaea;
}
.header-description {
  height: 287px;
  background-color: #F6F6F6;
}
.header-use {
  height: 440px;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.header-use__heading {
  margin-bottom: 30px;
}
.header-use__steps__button {
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-nav {
  height: 62px;
}
.header-nav__logo {
  margin-top: 24px;
}
.header-location {
  height: 62px;
  background-color: #eaeaea;
  line-height: 62px;
}
.header-description {
  height: 287px;
  background-color: #F6F6F6;
}
.header-use {
  height: 440px;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.header-use__heading {
  margin-bottom: 30px;
}
.header-use__steps__button {
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer {
  padding: 25px;
  background-color: #353535;
  color: #FFF;
}
.footer__logo {
  margin-bottom: 25px;
}
.footer__menu li {
  line-height: 25px;
}

:root {
  font-family: "Roboto", serif;
}

button {
  border: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 20px -5px #999;
  height: 50px;
  width: 220px;
  color: #FFF;
}
button:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.75;
  cursor: pointer;
}

.header-use__steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header-use__steps__button {
  height: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 80px;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 0px 20px -5px #999;
}
.header-use__steps__button i {
  margin-top: 30px;
  color: #999;
}
.header-use__steps__button:hover {
  background-color: #f5edff;
}
.header-use__steps__button:hover i {
  color: #9356DC;
}
.header-use__steps__number {
  height: 20px;
  width: 20px;
  color: #FFF;
  background-color: #9356DC;
  border-radius: 12px;
  margin-top: 28px;
  margin-left: -10px;
}
.header-use__steps__number span {
  position: absolute;
  margin-top: -30px;
  margin-left: 6px;
  font-size: 12px;
}

.header__logo {
  color: #000;
  font-family: "Shrikhand", sans-serif;
  font-size: 32px;
  margin-top: 20px;
}

.footer__logo {
  color: #FFF;
  font-family: "Shrikhand", sans-serif;
}

header i {
  margin-left: 10px;
  margin-right: 10px;
}

footer i {
  width: 20px;
}

.hearth {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/heart-regular.svg");
}
.hearth:hover {
  background-image: url("../images/icons/heart-solid.svg");
}

.header-cover img {
  width: 100%;
}

.food {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.food .plat {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 20px -5px #999;
  border-radius: 25px;
  height: 70px;
  font-size: 20px;
}
.food .plat :first-child p:first-of-type {
  font-weight: 900;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants__heading {
  margin-top: 50px;
  margin-bottom: 10px;
}
.restaurants .place {
  box-shadow: 0px 0px 20px -5px #999;
  border-radius: 25px;
  height: 250px;
}
.restaurants .place img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.restaurants .place__img {
  max-width: 100%;
  background-size: cover;
  background-position: center center;
  height: 174px;
  object-fit: cover;
}
.restaurants .place_new {
  margin-left: -80px;
  margin-top: 10px;
  position: absolute;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 12px;
}
.restaurants .place__description {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .place__heading {
  font-weight: 900;
}
.restaurants .place__text {
  font-weight: 100;
}
.restaurants .place__favorites i {
  font-size: 30px;
}

.animation-step {
  animation-name: FadeInBottom;
}

@keyframes FadeInBottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Base */
/* Layout */
/* Components */
/* Pages */
/* Animations */

/*# sourceMappingURL=styles.css.map */
