@use "../utils/variables" as v; 

main{
    padding:25px;
}
.header{
    &-nav{
        height:62px;
        &__logo{
            margin-top:24px;
        }
    }
    &-location{
        height:61px;
        background-color:v.$grey-1;
    }
    &-description{
        height: 287px;
        background-color:v.$grey-2;
    }
    &-use{
        height:440px;
        padding-top:50px;
        padding-left:25px;
        padding-right:25px;
        &__heading{
            margin-bottom:30px;
        }
        &__steps{
            &__button{
                height:50px;
                @include v.flex-row;
                width:100%;
            }       
        }
    }       
}