@use "../utils/colors" as c; 
@use "../utils/mixins" as m;

.header{
    &-nav{
        height:62px;
        &__logo{
            margin-top:24px;
        }
    }
    &-location{
        height:62px;
        background-color:c.$grey-1;
        line-height: 62px;
    }
    &-description{
        height: 287px;
        background-color:c.$grey-2;
    }
    &-use{
        height:440px;
        padding-top:50px;
        padding-left:25px;
        padding-right:25px;
        &__heading{
            margin-bottom:30px;
        }
        &__steps{
            &__button{
                @include m.flex-row;
                height:50px;
                width:100%;
            }       
        }
    }       
}