@use "../utils/colors" as c; 
@use "../utils/mixins" as m; 
@use "../utils/fonts" as f;


.carte{
    @include m.top-rounded;
    padding:25px;
    position: relative;
    margin-top: -50px;
    background-color:c.$grey-2;    
    &__heading{
        font-family: f.$shrikhand;
        font-weight: f.$bold;
        font-size: f.$xlarge;
        @include m.flex-row-sb;
    }
    .food{
        @include m.flex-col;
        gap:12px;
        h3{
            margin-top: 45px;
            text-transform: uppercase;
        }
    }
}