
@use "../utils/variables" as v; 

.footer{
    padding: 25px;
    background-color: v.$bg-footer;
    color:v.$white;
    &__logo{
        margin-bottom: 25px;
    }
    &__menu{
        li{
            line-height: 25px;
        }
    }
}