
@use "../utils/colors" as c; 

.footer{
    padding: 25px;
    background-color: c.$bg-footer;
    color:c.$white;
    &__logo{
        margin-bottom: 25px;
    }
    &__menu{
        li{
            line-height: 25px;
        }
    }
}