
@use "../utils/colors" as c;
@use "../utils/fonts" as f; 

footer{
    font-family: f.$roboto;
    font-weight: f.$normal;
    padding: 25px;
    background-color: c.$bg-footer;
    color:c.$white;
    .footer{
        &__logo{
            margin-bottom: 25px;
        }
        &__menu{
            li{
                line-height: 25px;
            }
        }
        i{
            width: 20px;
        }
    }
}