@use "../utils/mixins" as m; 
@use "../utils/colors" as c;
@use "../utils/fonts" as f;
@use "../utils/breakpoints" as b;

.function-section{
    padding:25px;
    &__heading{
        margin-top: 30px;;
        margin-bottom:30px;
        font-size: f.$xlarge;
        font-weight: f.$semi-bold;
    }
    .function-steps{
        gap:25px;
        @include m.flex-col;
        @include m.rounded;
        @media (min-width : b.$tablet)
        {
            @include m.flex-row;
            font-size: 14px;
        }
    }
}
