@use "../utils/variables" as v; 

.header{
    &-nav{
        @include v.flex-row-center;
    }
    &-location{
        @include v.flex-row-center;
    }
    &-description{
        text-align: center;        
        &__heading{
            @include v.margin-auto;
            width: 200px;
            padding-top:42px;
            line-height:30px;
        }
        &__text{
            @include v.margin-auto;
            width: 285px;
            margin-top:20px;
            line-height:20px;
        }
        button{
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}