@use "../utils/colors" as c; 
@use "../utils/mixins" as m; 
@use "../utils/fonts" as f; 

.header{
    &__logo{
        text-align: center;
        color:c.$black;
        font-family: f.$shrikhand;
        font-size:32px;
        h1{
            padding-top:24px;
        }
    }       
}

