@use "../utils/colors" as c; 
@use "../utils/mixins" as m;
@use "../utils/fonts" as f;
 
.places-section{
    background-color: c.$grey-2;
    @include m.flex-col;
    gap:20px;
    padding:25px;
    &__heading{
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: f.$large-font;
        font-weight: f.$bold;
    }
}