@use "../utils/colors" as c; 
@use "../utils/mixins" as m;
@use "../utils/fonts" as f;
@use "../utils/breakpoints" as b;

.restaurant-section{
    background-color: c.$grey-2;
    @include m.flex-col;
    gap:20px;
    padding:25px;
    &__heading{
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: f.$large-font;
        font-weight: f.$bold;
    }
    .all-places{
        gap:20px;
        @media (min-width : b.$desktop)
        {
            @include m.flex-row;
        }
    }
    .places{
        @media (min-width : b.$tablet)
        {
            gap:20px;
            flex: 1;
            @include m.flex-row;
        }
    }
    .place{
        margin-top:20px;
        flex:1;
        display: block;
        height:250px;
        @media (min-width : b.$desktop)
        { height: 300px;}
        @include m.shadow;
        @include m.rounded;
        
        img{
            width:100%;
            @include m.top-rounded;
        }
        
        &__img{
            max-width: 100%;
            background-size:cover;
            background-position: center center;
            @media (min-width : b.$desktop)
            {
                min-height: 220px;
            } 
            height:174px;        
            object-fit: cover;
        }
        
        __new{
            margin-left:-80px;
            margin-top: 10px;
            position:absolute;
            height: 20px;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 20px;
            border-radius: 3px;
            background-color: c.$light-green;
            color:c.$dark-green;
            font-size: 12px;
        }
        
        &__description{
            margin-top: 15px;
            margin-left: 15px;
            font-size: 16px;
            line-height:20px;
            @include m.flex-row-sb;
        }
        
        &__heading{
            font-weight: f.$bold;
        }
        
        &__text{
            font-weight: f.$light;
        }
        
        &__favorites{
            i{
                font-size: 30px;
            }
        }
    }
}