@use "../utils/mixins" as m; 
@use "../utils/colors" as c; 
@use "../utils/fonts" as f; 

.top-section{
    @include m.flex-col;
    padding:0px;
    .location{
        @include m.flex-row-center;
        height:50px;
        background-color:c.$grey-1;
        .here{
            line-height: 50px;
        }
    }
    .description{
        text-align: center;
        font-size: 14px;
        line-height:20px;
        background-color:c.$grey-2;
        height: 287px;    
        &__heading{
            font-size: f.$xlarge;
            font-weight: f.$semi-bold;
            @include m.margin-auto;
            width: 245px;
            padding-top:35px;
            line-height:30px;
        }
        &__text{
            @include m.margin-auto;
            width: 285px;
            margin-top:18px;
            line-height:18px;
            font-size: f.$medium-font;
            font-weight: f.$light;
        }
    }
}