@use "../utils/mixins" as m;
@use "../utils/fonts" as f;
@use "../utils/colors" as c;

.carte {
  .order {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.button {
  &__gradient {
    width: 220px;
    color: c.$white;
    border: none;
    transition: background-image 300ms;

    @include m.gradient;
    @include m.rounded;
    @include m.shadow;

    margin-top: 32px;
    margin-bottom: 32px;
    height: 50px;
  }

  &__function {
    background-color: c.$grey-2;
    height: 70px;
    width: 100%;
    line-height: 70px;

    @include m.flex-row;
    @include m.rounded;
    @include m.shadow;

    i {
      color: c.$grey-dark;
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }

    &:hover {
      background-color: c.$bg-steps-hover;
      i {
        color: c.$purple;
      }
    }

    &__number {
      border-radius: 12px;
      color: c.$white;
      background-color: c.$purple;
      height: 20px;
      width: 20px;
      margin-top: 25px;
      margin-left: -10px;
      position: relative;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: f.$small-font;
        line-height: 1;
      }
    }
  }
}
