@use "../utils/colors" as c;

.place_new {
  margin-left: -80px;
  margin-top: 10px;
  position: absolute;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  border-radius: 3px;
  background-color: c.$light-green;
  color: c.$dark-green;
  font-size: 12px;
}
