@use "../utils/colors" as c; 
@use "../utils/mixins" as m;
@use "../utils/fonts" as f; 

.loader {
    @include m.flex-col;
    @include m.gradient;
    position: fixed;
    z-index:1000;
    overflow: hidden;
    height: 100%;
    width: 100%;
    .load{
        @include m.flex-col;
        margin:auto;
        justify-content: center;
    }
    .loader-animation {
        margin-top:20px;
        margin: auto;
        border: 16px solid white;
        border-top: 16px solid c.$purple;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    i{
        font-size: 168px;   
        text-align: center;
        color:#FFF;
    }
    p{
        margin-top:40px;
        margin-bottom:40px;
        font-family: f.$shrikhand;
        font-size: 48px;
        text-align: center;
        color:#FFF;
    }
}