@use "../utils/colors" as c; 
@use "../utils/mixins" as m;

button{
    border:none;
    @include m.rounded;
    @include m.gradient; 
    @include m.shadow;
    color: c.$white; 
    height:50px;
    width:220px;  
    &:hover{
        @include m.gradient; 
        opacity: 0.75;
        cursor: pointer;
    }
}
.header{
    &-description{
        &__button{
            border:none;
            @include m.rounded;
            @include m.gradient; 
            @include m.shadow;
            color: c.$white; 
            height:50px;
            width:220px;  
            opacity: 1;
            &:hover{
                @include m.gradient; 
                opacity: 0.75;
                cursor: pointer;
            }
        }
    }
    &-use{
        &__steps{
            @include m.flex-col;
            gap:25px;
            &__button{
                @include m.flex-row;
                @include m.shadow;
                @include m.rounded;
                background-color: c.$grey-2;
                height:80px;
                width:100%;
                line-height: 80px;
                i{
                    color: c.$grey-dark;
                    margin-top: 30px;
                }
                &:hover{
                    background-color: c.$bg-steps-hover;
                    i{
                        color: c.$purple;
                    }
                    
                }
            }       
            &__number{
                @include m.rounded(12px);
                color: c.$white;
                background-color: c.$purple;
                height:20px;
                width:20px;
                margin-top: 28px;
                margin-left: -10px;
                span{
                    position: absolute;
                    margin-top: -30px;
                    margin-left: 6px;
                    font-size: 12px;
                }
            }
        }
    }       
}