@use "../utils/variables" as v; 

button{
    border:none;
    border-radius: 25px;
    background: linear-gradient( v.$pink, v.$purple); 
    box-shadow: 0px 0px 20px -5px #999;
    height:50px;
    width:220px;
    color: v.$white;   
    &:hover{
        background: linear-gradient(v.$pink, v.$purple); 
        opacity: 0.75;
        cursor: pointer;
    }
}

.header{
    &-use{
        &__steps{
            display:flex;
            flex-direction: column;
            gap:25px;
            &__button{
                height:80px;
                display: flex;
                flex-direction: row;
                width:100%;
                line-height: 80px;
                background-color: v.$grey-2;
                border-radius: 25px;
                box-shadow: 0px 0px 20px -5px v.$grey-3;;
                i{
                    margin-top: 30px;
                    color:v.$grey-3;
                }
                &:hover{
                    background-color: v.$bg-steps-hover;
                    i{
                        color: v.$purple;
                    }
                    
                }
            }       
            &__number{
                height:20px;
                width:20px;
                color:v.$white;
                background-color: v.$purple;
                border-radius:12px;
                margin-top: 28px;
                margin-left: -10px;
                span{
                    position: absolute;
                    margin-top: -30px;
                    margin-left: 6px;
                    font-size: 12px;
                }
            }
        }
    }       
}