.hearth{
    margin-right: 10px;
    width:32px;
    height:32px;
    background-image: url("../../images/icons/coeur-regular.png");
    transition-property: background-image;
    transition-duration: 0.5s;
    &:hover{
        background-image: url("../../images/icons/coeur-full.png");
    }
}
