@use "../utils/mixins" as m;

.hearth{
    display: block;
    margin-right:10px;
    height:30px;
    width:30px;
    i{
        left: 70vmin;
        top:2vmin;
        z-index: 100;
        cursor: pointer;
        font-weight: 100;
        height: 0px;
    }   
    i:hover:before{
        transition: all ease-in-out;
        font-weight: 900;
        @include m.gradient;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        height: 50px;
    }
}
