@use "../utils/variables" as v;  

.header{
    &__logo{
        color:v.$black;
        font-family: v.$shrikhand;
        font-size:32px;
        margin-top: 20px;
    }
}
.footer{
    &__logo{
        color:v.$white;
        font-family: v.$shrikhand;
    }
}