@use "../utils/mixins" as m;
@use "../utils/colors" as c;

.heart{
   z-index:2000;
   .icon {
      fill: transparent;
      stroke: black;
      stroke-width: 50;
      cursor: pointer;
      /* position: absolute;
      right: 1.5rem;
      bottom: 2rem;*/
   }
   .icon svg {
      overflow: visible;
      width: 2rem; /* changed from 1.6 to 5.6 */
   }
}




