@use "../utils/variables" as v; 

a{
    text-decoration: none;
    color:v.$black;
}

header{
    .header-description{
        &__heading{
            font-size: v.$large-font;
            font-weight: v.$bold;
        }
        &__text{
            font-size: v.$medium-font;
            font-weight: v.$light;
        }
    }
    .header-use{
        &__heading{
            font-size: v.$large-font;
            font-weight: v.$bold;
        }
        &__steps{
            &__number{
                span{
                    font-size: v.$small-font;
                }
            }
        }
    }
}

main{
    .restaurants{
        &__heading{
            font-size: v.$large-font;
            font-weight: v.$bold;
        }
    }
}

.menu{
    &__heading{
        font-family: v.$shrikhand;
        font-weight: v.$bold;
        font-size: v.$xlarge;
    }
}

footer{
    font-family: v.$roboto;
    font-weight: v.$normal;
}