@use "../utils/fonts" as f;
@use "../utils/colors" as c; 

a{
    text-decoration: none;
    color: c.$black;
}

header{
    .header-description{
        &__heading{
            font-size: f.$large-font;
            font-weight: f.$bold;
        }
        &__text{
            font-size: f.$medium-font;
            font-weight: f.$light;
        }
    }
    .header-use{
        &__heading{
            font-size: f.$large-font;
            font-weight: f.$bold;
        }
        &__steps{
            &__number{
                span{
                    font-size: f.$small-font;
                }
            }
        }
    }
}

main{
    .restaurants{
        &__heading{
            font-size: f.$large-font;
            font-weight: f.$bold;
        }
    }
}

.menu{
    &__heading{
        font-family: f.$shrikhand;
        font-weight: f.$bold;
        font-size: f.$xlarge;
    }
}

footer{
    font-family: f.$roboto;
    font-weight: f.$normal;
}