
:root{
    font-family: 'Roboto', serif;
    box-sizing: border-box;
    --color-medium-purple:#9356DC;
    --color-blush-pink:#FF79DA;
    --color-morning-glory:#99E2D0;
    --color-grey:#eaeaea;
}


