@use "../utils/variables" as v; 

.header-cover{
    img{
        width: 100%;
    }
}

.menu{
    @include v.top-rounded;
    &__heading{
        margin-left:25px;
        margin-top:25px;
    }
    background-color:v.$grey-2;
    margin-top: -25px;
    position:absolute;
    width: calc(100%);
}

.food{
    padding: 25px;
    h3{
        margin-top: 45px;
        text-transform: uppercase;
    }
    @include v.flex-col;
    gap:12px;
    .plat{
        @include v.flex-row-sb;
        @include v.shadow;
        @include v.rounded;
        align-items: center;
        height:70px;
        font-size: 20px;
        padding-left: 20px;
        padding-right:20px;
        line-height:20px;
        :first-child p:first-of-type{
            font-weight: v.$bold;
        }
        .price{
            margin-top: 25px;
            font-weight: v.$bold;
        }
    }
}