@use "../utils/variables" as v; 

.header-cover{
    img{
        width: 100%;
    }
}
.food{
    @include v.flex-col;
    gap:12px;
    .plat{
        @include v.flex-row-sb;
        @include v.shadow;
        @include v.rounded;
        height:70px;
        font-size: 20px;
        :first-child p:first-of-type{
            font-weight: v.$bold;
        }
    }
}