@use "../utils/colors" as c; 
@use "../utils/mixins" as m; 
@use "../utils/fonts" as f;
 
.header-cover{
    img{
        width: 100%;
    }
}

.menu{
    @include m.top-rounded;
    background-color:c.$grey-2;
    margin-top: -25px;
    position:absolute;
    width: calc(100%);
    &__head{
        @include m.flex-row-sb;
        margin-top:25px;
        padding-left:20px;
        margin-right: 15px;
    }
}

.food{
    padding: 25px;
    h3{
        margin-top: 45px;
        text-transform: uppercase;
    }
    @include m.flex-col;
    gap:12px;
    .plat{
        @include m.flex-row-sb;
        @include m.shadow;
        @include m.rounded;
        align-items: center;
        height:70px;
        font-size: 20px;
        padding-left: 20px;
        padding-right:20px;
        line-height:20px;
        :first-child p:first-of-type{
            font-weight: f.$bold;
        }
        .price{
            margin-top: 25px;
            font-weight: f.$bold;
        }
    }
}