@use "src/components/utils/fonts" as f;
@use "src/components/utils/colors" as c;

:root {
  font-family: f.$roboto;
}

a {
  text-decoration: none;
  color: c.$black;
}

footer a {
  color: c.$white;
}
