@use "../../utils/colors" as c;
@use "../../utils/fonts" as f; 
@use "../../utils/mixins" as m; 
@use "../../utils/breakpoints" as b; 

footer{
    font-family: f.$roboto;
    font-weight: f.$normal;
    padding: 25px;
    background-color: c.$bg-footer;
    color:c.$white;
    .footer{
        &__logo{
            margin-bottom: 25px;
            color:c.$white;
            font-family: f.$shrikhand;
        }
        &__menu{
            li{
                line-height: 25px;
            }
            @media (min-width : b.$tablet)
            {
                @include m.flex-row;
                li{
                    margin-right:25px;
                }
            }
        }
        i{
            width: 20px;
        }
    }
}