@use "../../utils/colors" as c;
@use "../../utils/fonts" as f; 
@use "../../utils/mixins" as m; 
 

footer{
    font-family: f.$roboto;
    font-weight: f.$normal;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:25px;
    padding-right:25px;
    background-color: c.$bg-footer;
    color:c.$white;
    .footer{
        &__logo{
            margin-bottom: 25px;
            color:c.$white;
            font-family: f.$shrikhand;
        }
        &__menu{
            @include m.tablet{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
            }
            li{
                line-height: 25px;
            }
            @include m.tablet{
                @include m.flex-row;
                li{
                    margin-right:25px;
                }
            }
        }
        i{
            width: 20px;
        }
    }
}