@use "../../utils/icons" as i;

.hearth{
    margin-right: 10px;
    width:32px;
    height:32px;
    background-image: i.$hearth-empty;
    transition-property: background-image;
    transition-duration: 0.5s;
    &:hover{
        background-image: i.$hearth-full;
    }
}
