@use "../utils/colors" as c;

.button__function{
    transition-property: background-color;
    transition-duration: 300ms;
}

.button__gradient{    
    transition-property: background-image;
    transition-duration: 300ms;
}