.top-section{
    &-description{
        &__button{
            transition-property: background-image;
            transition-duration: 0.3s;
        }
    }
}
.use-section{
    .step{
        &__button{
            transition-property: background-color;
            transition-duration: 0.3s;
        }
    }
}

