.header{
    &-description{
        &__button{
            transition-property: opacity;
            transition-duration: 0.3s;
        }
    }
    &-use{
        &__steps{
            &__button{
                transition-property: background-color;
                transition-duration: 0.3s;
            }
        }
    }
}

