@use "../utils/mixins" as m; 
@use "../utils/colors" as c; 

.plat{
    @include m.fadeInAnimation;
    .check{
        transition: width 2s;
    }
    .eat p{
        white-space: nowrap;
        transition: width 2s;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover {
        .check{
            width: 70px;
            i{
                transform: rotate(360deg);
            }
        } 
        .price{
            right: 75px;
        }
        .eat p{
            width: calc(100% - 75px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    } 
}