@use "../utils/colors" as c; 
@use "../utils/mixins" as m;
@use "../utils/fonts" as f; 

.loader {
    @include m.flex-col;
    position: absolute;
    z-index:1000;
    overflow: hidden;
    height: 100%;
    width: 100%;
    @include m.gradient;
    animation: hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
    .load{
        margin:auto;
        @include m.flex-col;
        justify-content: center;
    }
    i{
        font-size: 168px;   
        text-align: center;
        color:#FFF;
    }
    p{
        margin-top:40px;
        font-family: f.$shrikhand;
        font-size: 48px;
        text-align: center;
        color:#FFF;
    }
}

@keyframes hideAnimation {
to {
    width: 0%;
    height:0%;
    }
}