@use "../utils/mixins" as m;
@use "../utils/fonts" as f;
@use "../utils/colors" as c;

footer {
  font-family: f.$roboto;
  font-display: swap;
  font-weight: f.$normal;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: c.$bg-footer;
  color: c.$white;
  .footer {
    &__logo {
      padding: 20px;
      margin-bottom: 25px;
      color: c.$white;
      font-family: f.$shrikhand;
      font-display: swap;
    }
    &__menu {
      padding: 20px;
      @include m.tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      li {
        line-height: 25px;
      }
      @include m.tablet {
        @include m.flex-row;
        li {
          margin-right: 25px;
        }
      }
    }
    i {
      width: 20px;
    }
  }
  a {
    color: c.$white;
  }
}
