@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
// Font Variables
$roboto: 'Roboto', serif;   
$shrikhand: 'Shrikhand', sans-serif;

$xlarge:24px;
$large-font: 20px;
$medium-font: 16px;
$small-font: 12px;

$bold : 900;
$semi-bold: 600;
$normal : 400;
$light: 100;