$path : "https://jcommaret.github.io/ohmyfood/";

$hearth-empty : url("https://jcommaret.github.io/ohmyfood/images/icons/c-reg.png");
$hearth-full : url("https://jcommaret.github.io/ohmyfood/images/icons/c-full.png");
