@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900");
@import url("http://fonts.googleapis.com/css?family=Shrikhand");
// Font Variables
$roboto: 'Roboto', serif;   
$shrikhand: 'Shrikhand', sans-serif;

$xlarge:25px;
$large-font: 20px;
$medium-font: 16px;
$small-font: 12px;

$bold : 900;
$normal : 400;
$light: 100;

$grey-1:#eaeaea;
$grey-2:#F6F6F6;
$grey-3:#999;
$white:#FFF;
$black:#000;
$bg-footer:#353535;

$bg-steps-hover:#f5edff;
$purple:#9356DC;
$pink:#FF79DA;
$light-green:#99E2D0;
$dark-green:#008766;

@mixin shadow ($shadow : 0px 0px 20px -5px $grey-3){
    box-shadow: $shadow;
}

@mixin gradient ($gradient : linear-gradient($pink, $purple)){
    background-image: $gradient;
}

@mixin rounded($radius:25px) {
    border-radius: $radius;
}

@mixin top-rounded($radius:25px) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin flex{
    display: flex;
}

@mixin flex-col{
    @include flex();
    flex-direction: column;
}

@mixin flex-row {
    @include flex();
    flex-direction: row;
}

@mixin flex-row-center {
    @include flex-row();
    justify-content: center;
}

@mixin flex-row-sb {
    @include flex-row();
    justify-content: space-between;
}

@mixin margin-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin fadeInAnimation{
    animation-delay: 3s;
    animation:fadeIn 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; margin-top :10px;}
      to { opacity: 1; margin-top :0px; }
}