@use "colors" as c;
@use "breakpoints" as b;
@use "sass:map";
@use "sass:color";

$radius: 25px;

@mixin shadow($shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15)) {
  box-shadow: $shadow;
}

@mixin gradient(
  $gradient: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
) {
  background-image: $gradient;
}

@mixin rounded($radius: $radius) {
  border-radius: $radius;
}

@mixin top-rounded($radius: 25px) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin right-rounded($radius: 25px) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin flex {
  display: flex;
  flex-direction: column;
}

@mixin flex-col {
  @include flex();
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin fadeInAnimation {
  animation: fadeIn 3s linear;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 10px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
