@use "../utils/colors" as c; 
@use "../utils/mixins" as m;
@use "../utils/fonts" as f; 

.loader {
    animation: hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
    .loader-animation {
        animation: spin 2s linear infinite;
      }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes hideAnimation {
    to {width: 0%;height:0%;}
}